.footer {
  background-color: var(--color-secondary--one);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: var(--color-white);
  position: relative;
  z-index: 300;
}

.footer__link {
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
}