@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:wght@400;500;600&display=swap');

@import url('header.css');
@import url('footer.css');


:root {
  --font--main: 'Poppins', sans-serif;
  --font--alternative: 'IBM Plex Sans', sans-serif;
  --color-primary: #3772FF;
  --color-secondary--one: #36D6AD;
  --color-secondary--two: #FC7071;
  --color-terciary : #FCF0E3;
  --color-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font--main);
  font-weight: 400;
  font-size: 16px;       
}

.btn {
  background: var(--color-secondary--two);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  color: var(--color-white);
  font-weight: 600;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  width: 180px;
  height: 40px;
  margin: 8px;
}