@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:wght@400;500;600&display=swap');


:root {
  --font--main: 'Poppins', sans-serif;
  --font--alternative: 'IBM Plex Sans', sans-serif;
  --color-primary: #3772FF;
  --color-secondary--one: #36D6AD;
  --color-secondary--two: #FC7071;
  --color-terciary : #FCF0E3;
  --color-white: #FFF;
  --color-lightgray: #F6F6F6;
  --color-gray: #BCBCBC;
  --color-darkgray: #737380;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font--main);
  font-weight: 400;
  font-size: 16px; 
  background-image: url('../img/design-1.svg');
  background-repeat: no-repeat;
  background-position: left top;
}

header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  display: inline-block;
}

.header__icon {
  padding: 2.5rem;
}

.header__icon--user {
  padding-top: 2.1rem;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.logo {
  margin: 50px auto 24px;
  line-height: 20px;
}

.contrast-text {
  color: var(--color-primary);
  text-align: center;
  margin: 4px 10%;
}

.contrast-text--no-logo {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-primary);
  text-align: center;  
  margin: 60px 40px 0;
}

.btn {
  background: var(--color-secondary--two);
  border: 1px solid var(--color-secondary--two);
  border-radius: 6px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  width: 180px;
  height: 40px;
  margin: 8px auto;
  display: block;
}

footer {
  background-color: var(--color-secondary--one);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: var(--color-white);
}

.footer__link {
  color: var(--color-white);
  font-weight: 600;
  text-decoration: none;
}

.form-two {
  background-color: var(--color-lightgray);
  padding: 32px 16px;
  border-radius: 10px;
  margin: 24px;
  width: 90%;
}
.form-two__label {
  display: block;
  color: var(--color-primary);
  font-weight: 600;
  margin-top: 16px;
}

.form-two__input {
  padding: 12px 16px;
  font-size: 14px;
  color: var(--color-darkgray);
  font-family: var(--font--main);
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  margin-top: 8px;
  width: 100%;
}

.form-two__input::placeholder {
  font-size: 14px;
  color: var(--color-darkgray);
  font-family: var(--font--main);
}

textarea {
  margin-bottom: 32px;
}

.form-two__title {
  font-size: 21px;
  color: var(--color-darkgray);
  text-align: center;
}

.form-two__img {
  display: block;
  margin: 4px auto 8px;
}

.form-two p {
  font-size: 12px;
  color: var(--color-secondary--two);
  text-align: center;
}