.initial-page {
  background-color: var(--color-primary);
  background-image: url('../img/design-1.svg'), url('../img/design-2.svg'), url('../img/ilustration.svg'); 
  background-repeat: no-repeat;
  background-position: top left, right top 12em, bottom 5.2em center;
}

.initial-page__title {
  color: var(--color-white);
  font-family: var(--font--alternative);
  font-size: 26px;
  font-weight: 500;
}

.initial-page__text {
  color: var(--color-white);
  text-align: center;
  line-height: 24px;
  margin: 16px 60px;
}